{% extends "base.html" %}
{% block title %}Accounts{% endblock %}

{% block content %}

<section class="background">
<div class="pt-5 px-5 center-text" style="color:white;">
<h1>ACCOUNTS</h1>
</div>
    <div class="row row-cols-5 center-text mx-5 pt-5">
     {% for item in accounts %}
    <div class="col text-center mb-2">
                    <div class="card border-0 bg-light mb-2 mt-1">
                        <div class="card-body">
                        <img src="/static/euwlvl30.png" class="img-fluid" alt="">
                      <h6>Price: {{item.price}}</h6>
                    <h6>Blue Essense: {{item.blue_essense}}</h6>
                    <p>Server: {{item.server}}</p>
                    <p>Seller: {{item.owned_user.username}}</p>
                    <p>Description: {{item.description}}</p>
                        
                    <form action="/accounts" class="px-5 mb-2">
                     <button class="btn btn0" type="submit">Purchase</button>
                  </form>
                    </div>
                    </div>
        </div>
      {% endfor %}   
    </div>
    
</section>

{% endblock %}

